*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner{
    height: 454px;
    background-image: url(img/banner.png);
    background-size: cover;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
